<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body class="language-page">
			
	<a href="https://translate.google.com/#es/en/hablo%20espa%C3%B1ol%20y%20un%20poco%20de%20ingl%C3%A9s">
		<div class="translate">Translate Anything</div>
	</a>

	<div class="faq">

		<div class="page-title">
			<b> Frequently Asked Questions </b>
		</div>

		<ol>
			<li>
				<b>What are the forms that I should fill? Where can I get those forms?</b>
				<br><br>
				This is the answer to the question.
			</li>
			<li>
				<b>What should I do after submitting the forms?</b>
				<br><br>
				This is the answer to the question.
			</li>
			<li>
				<b>Can I get an interpreter (at the court hearing)?</b>
				<br><br>
				This is the answer to the question.
			</li>
			<li>
				<b>Which floor / department should I go to?</b>
				<br><br>
				This is the answer to the question.
			</li>
			<li>
				<b>When should I come back to court?</b>
				<br><br>
				This is the answer to the question.
			</li>
		</ol>

		<div class="page-title">
			<b> Where Should I Go? </b>
		</div>

		<a href="/map">
			<div class="map">
				<b> View Map </b>
			</div>
		</a>

		<div class="directions">
			<b>SELF HELP CENTER</b><br> Will help you find assistance and information, work better with an attorney, and represent yourself in some legal matters.
			<br><br>
			<b>CLERK’S OFFICE (FAMILY AND DEPENDENCY)</b><br> Where you can file documents, see your court file, or get a copy of a filed document from your court file. 
			<br><br>
			<b>RESTRAINING ORDER HELP CENTER</b><br> will help you find information on how to file for, respond to, and modify Restraining Orders.  
			<br><br>
			<b>CHILDREN’S WAITING ROOM</b><br> Free daycare where an adult will watch children aged 2 - 12 years old. 
			<br><br>
			<b>SELF HELP WORKSHOP</b><br> Workshops are available to help you start a divorce, start a parentage case, conduct financial disclosures, serve the other party, and finish a divorce.  A workshop to move your case forward when you started a divorce case, served the other party, and 	they haven’t filed a Response.
			<br><br>
			<b>FAMILY TREE CAFE</b><br>  Menu offering a wide variety of items including hot and cold sandwiches, all day breakfast, a dedicated menu for children under 12 years, and Peet’s coffee. 
			<br><br>
			<b>FAMILY COURT SERVICES (5th Floor)</b><br> If you have a mediation appointment for a custody and visitation. 
			<br><br>
			<b>COURTROOM</b><br>  Go to your courtroom if you have a court hearing today. A list of all the courtrooms is posted in the lobby area.
		</div>

	</div>

</body>
</html>