<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
			
	<a href="/english">
		<div class="ispeak">I speak English</div>
	</a>

	<a href="/spanish">
		<div class="ispeak">Hablo Español</div>
	</a>

	<a href="/arabic">
		<div class="ispeak">أنا أتكلم العربية</div>
	</a>

	<a href="/vietnamese">
		<div class="ispeak">tôi nói tiếng Việt</div>
	</a>

	<a href="/chinese">
		<div class="ispeak">我会说普通话</div>
	</a>

	<a href="/samoan">
		<div class="ispeak">Ou te tautala Samoa</div>
	</a>

	<a href="/filipino">
		<div class="ispeak">Nagsasalita ako ng Filipino</div>
	</a>

	<a href="/farsi">
		<div class="ispeak">من فارسی صحبت می کنم</div>
	</a>

</body>
</html>